@import "tailwindcss";

@theme {
  --color-secondary: #00B894;
  --color-primary: #1E90FF;
  --color-background: #020617;
}

@theme inline {
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}